<!DOCTYPE html>
<html ng-app="hailoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="css/PaulO.ico" type="image/ico" sizes="16x16">
  <title>Paulo</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en&v=3.17'></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
   <script src="js/secret_key.js"></script>
  <script src="js/hailo.js"></script>
  <script src="js/jquery_hailo.js"></script>

</head>

  <body ng-controller="mapController">
    <header>
      <div id="logo"></div>
    <nav>
      <ul>
        <a href="#"><li>DRIVERS</li></a>
        <a href="https://itunes.apple.com/gb/app/hailo/id468420446?mt=8"><li>DOWNLOAD</li></a>
        <a href="https://github.com/Pau1fitz"><li>GITHUB</li></a>
      </ul>
    </nav>
    </header>

  <div ng-show='view == 1' id="arrival_time">
   <p>ETA is:</br> {{ETA}}</p>
  </div>
  <div ng-show='view ==2' id="exist_false">
    <p>No Such Location</p>
  </div>

  <div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable='true' options="options" events='map.events'>
    <ui-gmap-marker coords="marker.coords" icon="marker.icon" idkey="1" id="user" options='marker.options'></ui-gmap-marker>
    <ui-gmap-marker ng-repeat="marker in drivers" idkey="2" coords="marker" id="taxi">
    </ui-gmap-marker>
    <ui-gmap-search-box template="searchbox.template" events="map.events" position="searchbox.position"></ui-gmap-search-box>
    </ui-gmap-google-map>
  </div>

    <script type="text/ng-template" id="searchbox.tpl.html">
      <form ng-model="paul">
          <input type="text" placeholder="ENTER LOCATION">
      </form>
    </script>

    <footer>
      <p>Copyright Paul Fitzgerald 2015</p>
    </footer>
  </body>
</html>