.angular-google-map-container {
  height: 600px;
  max-width: 1300px;
 }

body{
    margin: 0;
    padding: 0;
}

#header{
  width:100%;
  background-color: #FB0;
  height: 60px;
  color: white;
  font-family: sans-serif;
}

input{
  width: 200px;
  height: 20px;
  border-radius: 10px;
  font-family: courier;
}

#logo {
  position: absolute;
}

